
form {
    width: 100%;
    padding: 16px;
}

form span {
    color: black;
}

textarea {
    overflow: hidden;
    resize: none; 
}

.form-wrapper {
    width: 100%;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: var(--white);
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 740px;
    height: 700px;
    border-color: var(--white);
    border-width: 2px;
    border-style: solid;
    background-color: var(--white);
}

.form-header {
    position: relative;
    width: 100%;
    height: 60px;
    color: var(--white);
    background-color: var(--darkgrey);
}

#form-container {
    display: flex;
    width: 80%;
    min-width: 180px;
}

#sign-up-page {
    background-color: var(--lightgrey);
    width: 100%;
    margin-top: 1px;
    padding-top: 40px;
}

#browser-wrapper, 
#email,  
#phone,
#fname,
#lname,
#message,
#submit-button {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 20px;
    outline: none;
}

#submit-button {
    width: 110px;
    border-radius: 20px;
    padding: 10px;
    color: var(--white);
    background-color: var(--darkgrey);
    border: none;
}

#submit-button:hover {
    background: linear-gradient(140deg, rgba(122,17,23,0.7) 3%, rgba(255,199,78,0.7) 81%);
    color: black;
}

#browser-wrapper {
    caret-color: transparent;
}

#browser-wrapper:hover,
#submit-button {
    cursor: pointer;
}

#message {
    height: 60px;
}

/* Form padding based on screen width */
@media screen and (max-width: 480px) {
    #form-container {
        width: 100%;
    }
}